# ========================
# APP CONFIG
# ========================
APP_ENV=development
PORT=8000


# ========================
# REDIS CONFIG
# ========================
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_INSIGHT_PORT=8001
REDIS_PASSWORD=password

# ========================
#  PERFORMANCE / FUTURE
# ========================
REDIS_DB=0
REDIS_TIMEOUT=5